<aside>
    <h1>Partenaires Gold</h1>
    <ul>
        <li><a href="http://www.sfeir.com/" rel="external"><img
                src="{{ site.baseurl }}/images/sponsors/logo_sfeir.png" title="Sfeir" height="68" width="180"
                /></a></li>

        <li><a href="http://www.telecomnancy.eu/" rel="external"><img
                src="{{ site.baseurl }}/images/sponsors/logo_telecomnancy.png" title="Telecom Nancy" height="89" width="180"
                /></a></li>
    </ul>

    <h1>Partenaires Ressources</h1>
    <ul>
        <li><a href="http://www.jetbrains.com/" rel="external"><img
                src="{{ site.baseurl }}/images/sponsors/logo_jetbrains.png" title="JetBrains" height="63" width="180"
                /></a></li>
    </ul>

    <ul>
        <li><a href="http://zeroturnaround.com/" rel="external"><img
                src="{{ site.baseurl }}/images/sponsors/logo-zeroturnaround.png" title="Zeroturnaround" height="24" width="180"
                /></a></li>
    </ul>

    <h1>Partenaires Evenements</h1>
    <ul>
        <li><a href="http://www.devoxx.fr/" rel="external"><img
                src="{{ site.baseurl }}/images/sponsors/logo_devoxxfr.png" title="Devoxx France 2014" height="141" width="180"
                /></a></li>
    </ul>

    <h1>Partenaires Média</h1>
    <ul>
        <li><a href="http://www.programmez.com/" rel="external"><img
                src="{{ site.baseurl }}/images/sponsors/logo_programmez.png" title="Programmez" height="40" width="180"
                /></a></li>
    </ul>

</aside>