<footer>
    <div class="container">
        <section id="about">
            <p>Les évènement LorraineJug sont organisées par l’association à but non lucratif LorraineJug.</p>

            <p>Les informations contenues dans ces pages peuvent faire l’objet d’un changement ultérieur. En
                particulier, la liste des sujets présentés, les dates et horaires, ainsi que le lieu. Nous ne saurions
                être tenus responsables d’un changement de dernière minute.</p>

            <p>
                Consultez nos <a href="{{ site.baseurl }}/status.html">statuts</a> et <a
                    href="{{ site.baseurl }}/legal.html">informations légales</a>.
            </p>
        </section>
        <ul class="sociallinks">
            <!-- Merci à vainsfaktory.com pour les icones (http://vainsfaktory.com/simple-colored-social-icons/) -->
            <li><a href="https://twitter.com/LorraineJUG" rel="external"><img
                    src="{{ site.baseurl }}/images/icones/twitter_icon_47x47.png" title="Twitter" height="47"
                    width="47"
                    /></a></li>
            <li><a href="https://plus.google.com/u/0/115282923534937928206" rel="external"><img
                    src="{{ site.baseurl }}/images/icones/googleplus_icon_47x47.png"
                    title="Google+" height="47" width="47"
                    /></a></li>
            <li><a href="http://www.facebook.com/#%21/group.php?gid=109091105783812" rel="external"><img
                    src="{{ site.baseurl }}/images/icones/facebook_icon_47x47.png"
                    title="Facebook" height="47" width="47"
                    /></a></li>
            <li><a href="#" rel="external"><img src="{{ site.baseurl }}/images/icones/github_icon_47x47.png"
                                               title="Github" height="47" width="47"
                    /></a></li>
            <li><a href="http://www.linkedin.com/groups?gid=1369847&sharedKey=3A32713A8B03" rel="external"><img
                    src="{{ site.baseurl }}/images/icones/linkedin_icon_47x47.png" title="Linkedin" height="47"
                    width="47"
                    /></a></li>
            <li><a href="http://www.viadeo.com/fr/groups/?containerId=002vyitcuo9fbmq" rel="external"><img
                    src="{{ site.baseurl }}/images/icones/viadeo_icon_47x47.png"
                    title="Viadeo" height="47" width="47"
                    /></a></li>
            <li><a href="#" rel="external"><img src="{{ site.baseurl }}/images/icones/mail_icon_47x47.png"
                                               title="Mail" height="47" width="47"/></a></li>
            <li><a href="{{ site.baseurl }}/feed.xml" rel="internal"><img
                    src="{{ site.baseurl }}/images/icones/rss_icon_47x47.png"
                    title="Mail" height="47" width="47"/></a></li>
        </ul>
    </div>
</footer>
