<header>
    <div class="container">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo_434x147.png" alt="{{ site.name }}"
                                           width="434" height="147"/></a>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Actualité</a></li>
                <li><a href="{{ site.baseurl }}/events/">Soirées</a></li>
                <li><a href="{{ site.baseurl }}/speakers.html">Speakers</a></li>
                <li><a href="{{ site.baseurl }}/sponsors.html">Sponsors</a></li>
                <li><a href="{{ site.baseurl }}/contact.html">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>