---
layout: default
---

<section class="posts">
    <article>
        <header>
            <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
        </header>
        {{ content }}
        <footer>
            <div class="date">{{ page.date | date_to_string }}</div>
            {% if page.category %}
                <div class="category">{{ page.category }}</div>
            {% endif %}
            {% if page.tags %}
                <div class="tags">
                    {% for tag in page.tags %}
                        {{ tag }}
                    {% endfor %}
                </div>
            {% endif %}
        </footer>
    </article>
</section>
